body{background-color:gray;font-style:'Roboto', sans-ser if;}

li, p {color:black; font-size: 20px; line-height: 26px;}



.size {
	font-size: 32px; line-height: 32px;
}

.margin {
	margin:auto; 
	
}

.title{
	font-size:36px; line-height: 36px;
}

.tip {
  margin: auto;
  content:#def6ed;
  padding: 10px;
}